<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Authorization</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<style>
    form div{
        padding: 5px;
        margin: 10px;
    }
    form div label{
        display: block;
    }
    form div input[type="submit"]{
        cursor: pointer;
    }
</style>
<body>
    <h1>Registration Page</h1>
    <form id="auth_form" method="post">
        {% csrf_token %}
        {{ form }}
        <!--
        <div>
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstname">
        </div>
        <div>
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="lastname">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
        </div>
        <div>
            <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        </div>-->
        <!-- TODO create a re-enter password field -->
        <!--
        <div>
            <label for="auth_number">Authorization #:</label>
            <input type="text" id="auth_number" name="auth_number">
        </div>
        -->
        <div>
            <input type="submit" id="register" value="Register">
        </div>
    </form>
    <!--
    // TODO CREATE ajax.py -->
    <script>
        $(document).on('submit','#auth_form',function(event){
            event.preventDefault();
            alert("Default prevented");
            console.log("form default prevented...");
            console.log("above ajax block");
            $.ajax({
                console.log("inside ajax method");
                url: "{% url 'accounts:registration' %}",
                method:"POST",
                data:{firstname: firstname, lastname:lastname,email:email,password:password,auth_number:auth_number},
                dataType:"json",
                success:function(data)
                {
                    //do something
                    return data;
                }
            });
        });
    </script>

</body>
</html>